canvas {
    border: 3px solid cadetblue;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(97, 194, 197);
}


h3 {
    background-color: rgb(155, 42, 42);
    line-height: 2;
    margin: 0px;
}



.instructionImage {
    display: inline-block;
    width: 45%;
}


.modal-dialog {
    width: 90%;
}


.heading
{
    width: 100%;
    text-align: left;
}


.heading h3 
{
    display: inline;
    font-size: 25px;
}


.heading button{
    float: right;
    border: 1px solid rgb(236, 83, 0);
}




#start {
    font-size: 20px;
}

